<div class="w3-card" style="margin: 5%;">
    <div style="margin: 20px; padding-top: 30px; padding-bottom: 30px;">
        <h4>Graduation</h4>
        <h6>B. Tech. in Computer Science (Sep ’13 - June ’17)</h6>
        <h6>GRIET (Gokaraju RangaRaju Institute of Engineering and Technology (HYD)  </h6>
        
    </div>
</div>

<div class="w3-card" style="margin: 5%;">
    <div style="margin: 20px; padding-top: 30px; padding-bottom: 30px;">
        <h4>intermediate</h4>
        <h6>Narayana college hyderabad</h6>
        <h6>95.60</h6>
        <h6>2013</h6>
        
        
    </div>
</div>

<div class="w3-card" style="margin: 5%;">
    <div style="margin: 20px; padding-top: 30px; padding-bottom: 30px;">
        <h4>ssc</h4>
        <h6>2011</h6>
        <h6>sr Digi school, warangal</h6>
        <h6>89</h6>
         
    </div>
</div>









