<div class="w3-card" style="margin-left: 10%;margin-top: 10%; margin-right: 10%;">
    <div style="margin: 3%; padding-top: 30px;padding-bottom: 30px;">
        <h4>Project #1: Smartvibes Project( https://www.smartvibes.in)</h4><br>
        <h5>Angular Developer</h5><br>
        <h6>Description: </h6><br>
        <h6>The Business software automative requirements where they deliver the products with passion, innovation and
            creative with great pace in providing faster, reliable and secure applications right to meet there business
            requirements.</h6><br>
        <h6>Project Role:</h6><br>
        <h6>Developed single page application(Angular), as per client requirement. worked on User Interface using
            bootstrap. built reusable code for future use. Managed brand consistency and enhanced the company's web site
            by adding more features and functionality.</h6>
    </div>
</div>
<br><br>
<div class="w3-card" style="margin-left: 10%;margin-top: 3%; margin-right: 10%;">
    <div style="margin: 3%; padding-top: 30px;padding-bottom: 30px;">
        <h4>Project #2: C21 ( https://www.collabgenics.herokuapp.com)</h4><br>
        <h5>Frontend Developer</h5><br>
        <h6>Description:</h6><br>
        <h6>The website provides the data & analysis of all the listed companies, which are available for trading in the
            NSE & BSE.</h6><br>
        <h6>Project Role:</h6><br>
        <h6>The website contains only 2 pages. So, we developed based on the structure and design of web pages based on
            user requirements. Developed the latest user-facing features using Angular and built reusable components &
            front-end libraries for future use.</h6>
    </div>
</div>

<br><br>
<div class="w3-card" style="margin-left: 10%;margin-top: 3%; margin-right: 10%;">
    <div style="margin: 3%; padding-top: 30px;padding-bottom: 30px;">
        <h4>Project #3: Starbucks coffeehouse company Project</h4><br>
        <h6>Description: </h6><br>
        <h6>Starbucks is an American coffee company and coffeehouse chain founded in 1971 in Seattle, Washington. About
            25 Million records are synched from OLTP to OLAP every day. Even more after bulk coupons are loaded and then
            again when they expire. </h6><br>
        <h6>Project Role: </h6><br>
        <h6>Siebel Loyalty: Used to capture the customer purchases and award loyalty points (stars) to customers. Stars
            will be used to make purchases at the Starbucks store. It is hosted in Oracle Data Centre and maintained by
            Oracle. Siebel Marketing: Used to run the campaigns and also to send the offers to the segmented customers.
            It is hosted in Starbucks premises and maintained by Starbucks.</h6>
    </div>
</div>
<br><br>
<div class="w3-card" style="margin-left: 10%;margin-top: 3%; margin-right: 10%;">
    <div style="margin: 3%; padding-top: 30px;padding-bottom: 30px;">
        <h4>Project #4: Southwest Airlines Project</h4><br>
        <h6>Description: </h6><br>
        <h6>South west Airlines is a vast network of flights, Mainly the moto of SWA is to maintain customer
            relationship management. Therefore, it is having a loyalty program called Rapid rewards program </h6><br>
        <h6>Project Role: </h6><br>
        <h6>Worked on title and description based on requirement. Worked on templates like promos and coupons updates.
            Raised tickets when we have content deployment Using adobe campaign console, we start testing the deployed
            content Maintained back-up for content, promos and coupons in opentext tool.</h6>
    </div>
</div>